<footer class="site-footer">
	<div class="container">
		<img src="/images/logo.png" alt="Logo">
		
		<address>
			<p>Forged through blood and bones <br><a class="whitefoot" href="/support">Support</a> <br> <a class="whitefoot" href="/logout">Logout</a><br>
			<a class="supportemail" href="mailto:help@nativegaming.net">help@nativegaming.net</a></p> 
		</address> 
		
		<div class="social-links">
			<a href="#"><i class="fa fa-facebook-square"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-pinterest"></i></a>
		</div> <!-- .social-links -->
		
		<p class="copy">Native Gaming &copy Copyright 2017. All right reserved. Designed by <a class="themecolor" href="https://nullreality.me">Null Reality</a>.</p>
	</div>
</footer> <!-- .site-footer -->